@font-face {
    font-family: "Poppins-r";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Libre";
    src: url(../fonts/LibreFranklin-Regular.ttf);
}